<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X32 Recorder</title>
</head>
<body>

    <table>
        <tr>
            <td>
                {% if recording_active %}
                {% if recording_active.state == 0 %}<!-- NEW -->
                <h1>Aufnahme wird gestartet</h1>
                {% elif recording_active.state == 1 %}<!-- RECORD -->
                <h1>Aufnahme läuft</h1>
                <form method="POST" action="stoprecording/">
                    {% csrf_token %}
                    <input type="image" src="/home/datendenker/dev/x32-recorder/x32recorder/recorder/icons/circle-stop-solid.svg" alt="Aufnahme Stoppen" height="200" width="200"  value="Aufnahme Stoppen" />
                </form>
                {% elif recording_active.state == 2 %}<!-- STOP -->
                <h1>Aufnahme wird beendet</h1>
                {% endif %}
            
                {% else %}
                <form method="POST" action="startrecording/">
                    {% csrf_token %}
                    <input type="image" src="icons/compact-disc-solid.svg" alt="Aufnahme Starten" height="200" width="200" value="Aufnahme Starten" />
                </form>
                {% endif %}
            </td>
            <td>
                <h1>Aufnahme abspielen</h1>
                <form method="POST" action="playrecording/">
                    {% csrf_token %}
                    <input type="image" src="/home/datendenker/dev/x32-recorder/x32recorder/recorder/icons/circle-play-solid.svg" alt="Abspielen" height="200" width="200"  value="Aufnahme Abspielen" />
                </form>
            </td>
        </tr>
    </table>



    <ul>
        {% for recording in recordings %}
        <li>{{ recording }}</li>
        {% endfor %}
    </ul>
</body>
</html>